.container {
    padding: 97px 44px 76px 45px;
    background-color: #13032d;
    text-align: center;
}

.container fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
}

.container legend {
    margin-bottom: 1rem;
    color: var(--cor-do-subtitulo);
    font-size: 1rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .container{
        padding:45px 247px 61px 246px ;
    }
}

@media screen and (min-width: 1440px){
    .container{
        padding: 92px 508px 91px 509px ;
    }
}