.formContainer {
	border: none;
	text-align: start;
	width: 100%;
}

.formContainer legend {
	color: #dede10ed;
	font-weight: 700;
	padding-bottom: .5rem;
}

.inputContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-bottom: 1rem;
}

.formName {
	width: 328px;
	height: 56px;
	line-height: 20px;
	padding: 1rem;
	border: none;
	outline:none;
	border-radius: 4px;
	box-shadow: 3px 3px 0 #2e034c;
	background-color: var(--cor-da-fonte);
	font-size: 1rem;
}

/* Placeholder inicia sem opacidade */

.formName::placeholder {
	opacity: 0;
}

/*  no foco do input ele recebe opacidade com transição */

.formName:focus::placeholder {
	opacity: 1;
	transition: all 300ms ease-in-out;
}

.labelName {
	position: absolute;
	top: 38%;
	transform: translateY(-50%);
	color: rgb(98, 95, 95);
	left: 1rem;
	pointer-events: none;
	transition: all 200ms ease-in-out;
}

/* aqui começa animação da label */

.formName:focus + .labelName, 
.formName:not(:placeholder-shown) + .labelName {
	top: 15%;
	font-size: 12px;
}

/* aqui termina animação da label */

.textareaContainer {
	width: 100%;
}

.formMessage {
	width: 328px ;
	height: 82px;
	resize: none;
	outline: none;
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 3px 3px 0 #2e034c;
	font-size: 1rem;
}

@media screen and (min-width: 1024px) {
	.formName,
	.formMessage {
		width: 560px;
	}
}