.formContainer {
	border: none;
	text-align: start;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.formContainer legend {
	color: var(--cor-do-subtitulo);
	font-weight: 700;
	padding-bottom: .5rem;
}

.textContainer,
.inputContainer {
	display: flex;
	width: 100%;
}

.inputContainer {
	padding-bottom: 1rem;
}

.textContainer{
	padding-bottom: .5rem;
}




