* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-de-fundo:#241739;
    --azul: #2A7AE4;
    --cor-da-fonte:#f9f9f9;
    --fonte-principal:'Raleway', sans-serif;
    --fonte-logo:'Bangers', cursive;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
    font-family: var(--fonte-principal);
}